---
- name: Find Rclone config file location
  shell: rclone config file
  register: _rclone_config

- name: pull rclone configuration
  set_fact:
    rclone_config: "{{ _rclone_config.stdout_lines[1] }}"

- name: template rclone config
  template:
    src: "templates/{{ template }}"
    dest: "{{ rclone_config }}"
    mode: 0600
  # no_log: true

- name: Set RClone Flags
  set_fact:
    rclone_flags: "--config {{ rclone_config }} --contimeout=2m0s --max-age {{ max_age }}"

- name: Set RClone Command
  set_fact:
    rclone_cmd: >-
      rclone {{ raw_rclone_cmd }} {{ rclone_flags }}

- name: Run the sync
  shell: |
    {{ rclone_cmd }}
  register: rclone_results

- name: Show run results
  debug:
    msg:
      - "stdout"
      - "{{ rclone_results.stdout_lines }}"
      - "stderr"
      - "{{ rclone_results.stderr_lines }}"

# - name: Remove rclone_config
#   file:
#     path: "{{ rclone_config }}"
#     state: absent