---
# yamllint disable rule:line-length
# yamllint disable rule:comments

- name: Create temporary key file
  tempfile:
    state: file
    suffix: key
  register: sftp_key_file

- name: Create temporary password file
  tempfile:
    state: file
    suffix: pass
  register: sftp_pass_file

- name: write key to file
  copy:
    content: "{{ sftp_key }}\n"
    dest: "{{ sftp_key_file.path }}"
    mode: 0600
  no_log: true
  when: sftp_key is defined and sftp_key != ""

- name: encrypt sftp password
  shell: |
    rclone obscure '{{ sftp_password }}' > {{ sftp_pass_file.path }}
  when: sftp_password is defined and sftp_password != ""

- name: Inlcude RClone Tasks
  include_tasks: rclone.yml
  vars:
    template: "rclone_sftp.j2"
    raw_rclone_cmd: >-
      {% if direction == 'upload' %}
      sync "{{ local_path }}" "sftp:{{ sftp_path }}"
      {% else %}
      copy "sftp:{{ sftp_path }}" "{{ local_path }}"
      {% endif %}

    
- name: Remove sftp_key_file
  file:
    path: "{{ sftp_key_file.path }}"
    state: absent

- name: Remove sftp_pass_file
  file:
    path: "{{ sftp_pass_file.path }}"
    state: absent