[sftp]
type = sftp
host = {{ sftp_host }}
user = {{ sftp_username }}
port = {{ sftp_port | default(22, True) }}
{% if sftp_password is defined and sftp_password != "" %}
pass = {{ lookup('file', sftp_pass_file.path) }}
{% else %}
key_file = {{ sftp_key_file.path }}
{% endif %}
set_modtime = false
