---
- name: Sync Automation
  hosts: localhost
  gather_facts: true

  pre_tasks:
    - name: Include vars file
      include_vars: "vars/{{ lookup('env', 'VARS_FILE') }}"

    - name: Create temporary sync directory
      tempfile:
        state: directory
      register: sync_dir
    
    - name: default settings
      set_fact: 
        default_max_age: "168h" # one week

  tasks:

    - name: Create iteratable sources and sinks
      set_fact:
        sources: |
          {% set sources = [] %}
          {% for type, configs in downloads.items() %}
          {% for config in configs %}
          {% set _ = sources.append({'type': type, 'config': config}) %}
          {% endfor %}
          {% endfor %}
          {{ sources }}
        sinks: |
          {% set sinks = [] %}
          {% for type, configs in uploads.items() %}
          {% for config in configs %}
          {% set _ = sinks.append({'type': type, 'config': config}) %}
          {% endfor %}
          {% endfor %}
          {{ sinks }}

    - name: downloads from external sites
      include_tasks: tasks/{{ source.type }}.yml
      vars:
        local_path: "{{ sync_dir.path }}/{{ source.type }}_{{ source.config.id }}"
        config: "{{ source.config }}"
        direction: "download"
      with_items: "{{ sources }}"
      loop_control:
        loop_var: source

    - name: upload files to external sites
      include_tasks: tasks/{{ source.type }}.yml
      vars:
        local_path: "{{ sync_dir.path }}"
        config: "{{ sink.config }}"
        direction: "upload"
      with_items: "{{ sinks }}"
      loop_control:
        loop_var: sink